body {
    background-color: #FFCAC8;
}

hr {
    border-style: none;
    border-top-style: dotted;
    background-color: none ;
    border-width: 7px;
    border-color: #FF9E9E;
    width: 6%;

}

h1, h2{
    color: #e07272;
}

h3 {
    color: #e07272;
}












